#!/usr/bin/make -f

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf debian/DarK-icon-theme
	dh_clean

install: build
	if [ -f $(CURDIR)/dark-icon-theme_*.deb ]; then \
		rm -f $(CURDIR)/dark-icon-theme_*.deb ;\
	fi;
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs
	mkdir -p $(CURDIR)/debian/dark-theme/usr/share/themes
	cp -R $(CURDIR)/DarK $(CURDIR)/debian/dark-icon-theme/usr/share/icons/DarK
	make PREFIX=$(CURDIR)/debian/dark-icon-theme/usr install
	make PREFIX=$(CURDIR)/debian/dark-icon-theme/usr installextras

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs 
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_link
	dh_fixperms
	dh_md5sums
	dh_builddeb -- -Znone -Snone -z0
#	dh_builddeb -- -Zxz -Sextreme -z9 --uniform-compression
	dh_clean
	if [ -f $(CURDIR)/../dark-icon-theme*.deb ]; then \
		mv $(CURDIR)/../dark-icon-theme*.deb $(CURDIR)/ ;\
	fi;

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
