Source: monotone-icon-theme
Section: x11
Priority: optional
Maintainer: SSF <https://github.com/sixsixfive>
Build-Depends: libfile-fcntllock-perl, debhelper (>= 7)
Standards-Version: 3.9.6

Package: monotone-icon-theme
Architecture: all
Depends: hicolor-icon-theme
Conflicts: monotone-icon-theme, highcontrast-icon-theme
Replaces: adwaita-icon-theme, highcontrast-icon-theme, monotone-icon-theme
Recommends: sed, gksu, p7zip-full | zip, findutils, gtk-update-icon-cache, coreutils, librsvg2-bin, optipng, filezilla, pidgin, gajim, amule
Provides: adwaita-icon-theme, gnome-icon-theme, gnome-icon-theme-symbolic, gnome-accessibility-themes
Description: monotone icon theme for X11 desktops
 The theme is designed as a universal monotone icon theme that should 
 work on all common X11-desktops. 
 .
 It can be used to replace adwaita it is also
 possible to recolor the whole theme to any color to make it work with
 bright themes or just to create a unique desktop experience.
